.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1a3263;
  min-height: 100px;
  padding: 0 10%;
  position: relative;
}
.header h1 {
  color: #e8e2db;
  font-size: 2.3rem;
}
.header nav a {
  color: #e8e2db;
  margin: 0 20px;
  font-size: 1.15rem;
  transition: all 0.2s ease;
  font-size: 1.4rem;
}
.header nav a:hover {
  color: #fab95b;
}
.header img {
  display: none;
  width: 32px;
  cursor: pointer;
  
}

@media screen and (max-width: 992px) {
  .header img {
    display: block;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .active {
    display: flex !important;
    flex-direction: column;
    background-color: #1a3263;
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    animation-name: slide;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 5;
    
  }
  .active a {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    margin:  0 !important;
    border-top: 1px solid rgb(232, 226, 219, 0.5);
  }
  .header nav {
    display: none;
  }
  .header nav a {
    font-size: 1.5rem;
  }
}
@keyframes slide {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
