.myContacts{
    min-height: calc(100vh - 100px);
    /* background-color: #FAB95B; */
    background-size: cover;
    background-image: url(../images/stacked-waves-haikei.svg);
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myContacts h2{
    margin: 6% 0 10%;
    text-align: center;
    font-size: 2.25rem;
}
.myContacts div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.myContacts div figure{
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.3);
    flex: 0 0 30% ;
    border-radius: 10px;
    padding: 15px 20px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    margin: 5px;
    position: relative;
}
.myContacts div figure figcaption{
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.myContacts div figure p{

    font-size: 1.3rem;
}
.myContacts div figure button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #1a3263;
    color: #e8e2db;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}
.myContacts div figure button a{
    color: inherit;
    text-decoration: none;
}
.myContacts div figure button:hover{
    color:#1a3263;
    background-color: #F16821;
    border: 2px solid #1a3263;
    font-size: 1.3rem;
}

@media screen and (max-width: 772px) {
    .myContacts div figure{
        min-height: 300px;
    }
}